// File Name : aboutme.pug
// Author Name : Saloni saloni
// Website Name : Saloni Portfolio
// File Desctiption : Page to show about me data
extends layout

block content
    h1 About Me
    div
      ol
        li TECHNICAL SKILLS
          ul 
            li Programming languages:       C, C++, Java, C#, Swift, Python
            li Web Technologies:                 HTML5, CSS, PHP, JavaScript, ASP.NET, 
            li Cloud/ local platforms:           Microsoft Azure, AWS, GitHub, FileZilla, XAMP
            li Database tools:                        MS SQL, MySQL, NoSQL
            li Computer literate:                  Microsoft Word, Microsoft Excel, Outlook, Window 10, PowerPoint
            li Development platforms:        Desktop, Mobile, Web and Mainframe Systems, Embedded Systems, Git
            li Software:                                  NetBeans IDE/ Eclipse IDE, MS Visual Studio, Visual Studio code       
            li Mainframe:                              ISPF, SDSF, Command Shell, JCL, REXX, COBOL, RACF, Z/os
        li HIGHLIGHTS 
          ul
            li Adaptable, positive attitude, effective communicator and highly organized 
            li Proven capability to manage time to get best successful outputs 
            li Excellent interpersonal and highly developed communication skills (verbal and written)
            li Success oriented, strong work ethics and ability to guide and assist other 
            li Quick learner, team-oriented, and capable of working in fast paced environment   
            li Experiment things out of my comfort zone to broaden knowledge and accelerate career
