// File Name : error.pug
// Author Name : Saloni saloni
// Website Name : Saloni Portfolio
// File Desctiption : Error Page for some issues
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
