//- File Name : index.pug
//- Author Name : Saloni saloni
//- Website Name : Saloni Portfolio
//- File Desctiption : Index/Home page to show short description about me
extends layout

block content
  section
    div(style='text-align: center; width: 80%; margin: auto')
      h1 Welcome to Saloni Saloni's Portfolio
      p Here you can find all the infomation about me, Please use the links above to know about me.	
      h2 My Objective
      p To obtain a full-time position in Information Technology where my creative thinking and technical knowledge in various programming languages, modern tools and platforms will be utilized for company’s growth, success and achieving goals