// File Name : layout.pug
// Author Name : Saloni saloni
// Website Name : Saloni Portfolio
// File Desctiption : layout page to divide website in parts
include partialViews/header
    block content
include partialViews/footer