extends layout

block content
  div(style='width: 90%; margin: auto')
    h1 Projects
    .container
    .row
      .col-sm-4
        h3 Vintage Rotary Phones 
        hr
        p A User-friendly website for selling Vintage Rotary Phones involved coding in HTML, CSS and JavaScript supported the designing and Dynamic webpages in Visual Studio Code
      .col-sm-4
        h3 Bookstore  
        hr
        p A PHP based Bookstore website with sign in and password encrypted email validation experimenting with DOM and database to store and retrieve user’s account information in Visual Studio Code
      .col-sm-4
        h3 Scrabble game  
        hr
        p A Scrabble game (an alphabetic word formation game) web application in NetBeans IDE was designed in GUI that allowed users to interact with graphical icons coded in Java
    .row
      .col-sm-4
        h3 VideoGame Web Application 
        hr
        p A school group project of a Web Application for the purchase of Videogames and related merchandise with utilizing ASP.Net MVC, scaffolding different CRUD based tables and JavaScript Object Notation (JSON) in Microsoft Visual Studio. API was used that let the objects talk to each other
      .col-sm-4
        h3 Internet of Things Project 
        hr
        p An Internet of Things LED knight rider’s display show using Arduino and display various light patterns. Led lights, breadboard, jumper wires, Arduino board etc. were assembled and connected to the computer to display the light show which was coded in software
    