extends layout

block content
  h1 My Services
  ol
    li
      h3 RBC Royal Bank, Toronto, ON
      div(style=' border: 1px solid black; width: 60%; padding: 20px')
        ul 
          li Learn RACF security and RBC base operations
          li Review and recommend changes to existing documentations to streamline usage for effective administration support and prioritize activities
          li Support the mainframe and Compliance Identity access team on cleanup of security at infrastructure and applications layer 
          li Address security ownership of entitlement across all line of business that run on their applications on mainframe. This resulted in accurate reporting and account abilities for data owner to reduce the risk and enhance as per RBC’s policies
          li Familiarity handling On-demand tickets request on RACF
