hr
div(style='position: fixed;left: 0; bottom: 0; height: 30px; background: lightgrey; width: 100%; padding: 5px;')
  footer.page-footer.font-small.blue
    .footer-copyright.text-center.py-3
      | Saloni:
      a(href='/')  200396451